<div ng-controller="navCtrl" class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
        <a class="navbar-brand" >Bookstore</a>
    </div>

    <!--If not authenticated-->
    <ul  class="nav navbar-nav pull-right">
        <li><a >Login</a></li>
        <li><a >Sign up</a></li>
    </ul>

    <!--If authenticated-->
    <ul  class="nav navbar-nav pull-right">
        <li><a >Books</a></li>
        <li><a >Profile</a></li>
        <li><a >Logout</a></li>
    </ul>
</div>
<router-outlet></router-outlet>
