<div class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">Bookstore</a>
    </div>
    <ul class="nav navbar-nav pull-right">
        <li><a >Login</a></li>
        <li><a >Sign up</a></li>
    </ul>

    <!-- When user is logged in -->
    <ul class="nav navbar-nav pull-right">
        <li><a >Store</a></li>
        <li><a >Upload</a></li>
        <li><a >Profile</a></li>
        <li><a >Logout</a></li>
    </ul>
</div>
